<div style="height: 90%;" class="flex  justify-center w-full">
    <div style="width: 53%  " class="w-1/2 p-8  ">
        <h1 style="font-weight: bolder ;" class="text-6xl font-extrabold mt-0 p-9 pl-0 pb-3">Education is one thing<span
                class="text-orange-500"> no one</span> can take away from you.</h1>
        <p class="mt-8 text-lg pr-3">Transform your career with dynamic online learning at your fingertips.
            Access a wide range of courses tailored to fit your goals and schedule.
            Connect with a global community of passionate learners and educators.
            Embrace the power of knowledge and start your journey today!</p>
        <button class="bg-orange-500 text-white mt-4 p-4 rounded-full hover:scale-105 transition duration-200 ease-in-out hover:text-black"><a href="login" class="text-2xl font-semibold mt-4 no-underline hover:text-black">Let's start</a></button>
    </div>
    <div class="w-1/2 mt-2 flex items-center justify-center overflow-hidden">
        <img src="https://cdn.pixabay.com/photo/2020/09/25/10/10/education-5600987_640.png"
            class="h-full w-full object-cover " alt="Education Illustration">
    </div>

</div>
<footer>
    <div class="container">
        <p>&copy; 2024 E-Learning Platform | All Rights Reserved</p>
    </div>
</footer>
